# Go
go/bin/

# JS/TS
js/node_modules/
js/dist/
js/.tsbuildinfo

# Python
__pycache__/
*.pyc
python/src/*.egg-info/
python/dist/
python/.venv/
python/*.egg-info/

# Dart
dart/.dart_tool/
dart/build/
dart/.packages

# Elixir
elixir/_build/
elixir/deps/
elixir/doc/
elixir/*.ez

# Docs
/docs

# IDE
.idea/
.vscode/
*.swp
*~
.DS_Store
